body {
    overflow-y: visible;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}


/*ApiPage*/

.api {
    padding: 4rem;
    background: white;
}

.api-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.api-wrapper {
    position: relative;
    margin: 20px 0 45px;
}


/*Card*/

.card-item {
    display: flex;
    flex: 1;
    margin: -1rem 2rem;
    margin-bottom: 3rem;
    border-radius: 10px;
}

.card-link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.card-category {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
}
.card-category::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(90deg, rgb(25, 17, 88) 0%, rgb(64, 14, 70) 100%);
    box-shadow: 0px 0px 0px 1.2px white;
    border-radius: 4px 4px 0px 0px;
    box-sizing: border-box;
}
.fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
}

.card-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}
.card-img:hover {
    transform: scale(1.1);
}

.card-info {
    padding: 20px 30px 30px;
}

.card-text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
}


/*Affichage petit/grand écrans*/

@media only screen and (min-width: 1024px) {
    .api-items {
        display: flex;
    }
}

@media only screen and (max-width: 1024px) {
    .card-item {
        margin-bottom: 2rem;
    }
}

@media only screen and (min-width: 1200px) {
    .card-item {
        width: 500px;
    }
}

@media only screen and (max-width: 1024px) {
    .card-item {
        width: 400px;
    }
}
